<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
<div ng-app="blog" ng-controller="loginController">
    <div>
        <h1>Welcome to My Blog App</h1><br/>
        Email: <input type="text" ng-model="email"> <br/>
        Password: <input type="password" ng-model="password"><br/>
        <input type="button" value="Login" ng-click="postdata()"/> <br/><br/>

        <a href="/ui/register.html">Register</a>
    </div>
</div>
</body>