<!doctype html>
<html ng-app="blog">
<head>
    <link rel="stylesheet" type="text/css" href="./stylesheet/index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="index.js"></script>

    <script type='text/javascript'>
        $(document).ready(function () {
            $("#current-user").html(sessionStorage.getItem('currentUserName'));
        });
    </script>

    <title>New Post</title>
</head>
<body ng-controller="newPostController">
<div>
    <div class="floatleft">
        <a href="home.html"><img class="imgclass" src="./img/profile.png"></a>
    </div>
    <div>
        <span class="bold highrow">Merhaba </span><a id="current-user" href="home.html" class="bold"></a><br/>
    </div>
</div>

<div>
    <span class="header">New Post</span><br/>
    <div class="liclass">
        <div class="leftcol pad10">Title :</div>
        <div class="rightcol pad10"><input type="text" ng-model="title"></div>
        <div class="leftcol pad10">Content :</div>
        <div class="rightcol pad10"><textarea ng-model="text" cols="40" rows="5"></textarea></div>
        <div class="leftcol pad10"></div>
        <div class="rightcol pad10"><input type="checkbox" ng-model="private">Is Private</div>
        <div class="rightcol pad10">
            <input type="button" value="Publish" ng-click="postdata()"/> <br/>
        </div>
    </div>


</div>

</body>
</html>