<!doctype html>
<html ng-app="blog">
<head>
    <link rel="stylesheet" type="text/css" href="./stylesheet/index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="index.js"></script>

    <script type='text/javascript'>
        $(document).ready(function () {
            $("#current-user").html(sessionStorage.getItem('currentUserName'));
        });
    </script>

    <title>Suggestions</title>
</head>
<body ng-controller="suggestionController">
<div>
    <div>
        <div class="floatleft">
            <a href="home.html"><img class="imgclass" src="./img/profile.png"></a>
        </div>
        <div>
            <span class="bold highrow">Merhaba </span><a id="current-user" href="home.html" class="bold"></a><br/>
        </div>
    </div>
    <div>
        <span class="header">Suggestions</span>
        <ul class="ulclass">
            <li ng-repeat="user in suggestions" class="liclass">
                <div class="clearfix">
                    <div class="floatleft">
                        <img class="imgclass" src="./img/user.jpg">
                    </div>
                    <div class="div2">
                        <span><b>{{user.name}}</b></span><br/>
                        <button ng-click="follow(user._id)">Follow</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>